BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
TabWidth: 4
---
Language: Cpp
ColumnLimit: 140
DerivePointerAlignment: false
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BreakBeforeBraces: Attach
IndentCaseLabels: true
---

