BasedOnStyle: LLVM
UseTab: Never
LineEnding: LF
IndentWidth: 4
TabWidth: 4
---
Language: Cpp
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Right
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BreakBeforeBraces: Attach
IndentCaseLabels: true
IndentAccessModifiers: true
AccessModifierOffset: 4
---
