### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### Dependencies and generated output ###
node_modules/
target/
bin/
obj/
dist/
.vs/
*.class
*.user
*.suo
